<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <main id="main-content" role="main">
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
        <script defer type="text/javascript" src="{{ "js/menu.js" | relURL }}"></script>
        <script defer type="text/javascript" src="{{ "js/scroll-to-top.js" | relURL }}"></script>
        <script defer type="text/javascript" src="{{ "js/social-icons.js" | relURL }}"></script>
        {{- range .Site.Params.plugins_js -}}
        <script defer type="text/javascript" src="{{ . }}"></script>
        {{- end -}}
    </body>
</html>
